.header {
  position: sticky;
  background-color: white;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 999;
}

.header__left {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: gray;
  height: 22px;
  background-color: #eef3f8;
}

.header__search > input {
  border: none;
  outline: none;
  background: none;
}

.header__left > img {
  height: 40px;
  object-fit: contain;
  margin-left: 15px;
  margin-right: 15px;
}

.header__right {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
